In [2]:
import pandas as pd

In [3]:
age_df = pd.read_csv("output.csv")
age_df

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,1,1,Alabama,Autauga County,1,54571,26569,28002,3579,...,705,731,295,436,551,159,392,37.0,35.9,37.9
1,50,1,1,Alabama,Autauga County,2,54597,26584,28013,3584,...,704,730,294,436,551,159,392,37.0,35.9,37.8
2,50,1,1,Alabama,Autauga County,3,54773,26672,28101,3575,...,707,743,299,444,556,164,392,37.1,36.0,37.9
3,50,1,1,Alabama,Autauga County,4,55227,26981,28246,3551,...,727,782,315,467,601,191,410,37.3,36.2,38.4
4,50,1,1,Alabama,Autauga County,5,54954,26826,28128,3402,...,751,834,340,494,632,206,426,37.7,36.4,38.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37699,50,56,45,Wyoming,Weston County,8,7208,3799,3409,442,...,138,164,74,90,192,73,119,42.3,41.3,43.7
37700,50,56,45,Wyoming,Weston County,9,7220,3788,3432,439,...,131,172,86,86,198,73,125,42.4,41.8,43.2
37701,50,56,45,Wyoming,Weston County,10,6968,3660,3308,379,...,123,182,91,91,201,68,133,43.6,42.9,44.4
37702,50,56,45,Wyoming,Weston County,11,6924,3627,3297,359,...,118,198,88,110,194,66,128,43.9,43.1,44.9
37703,50,56,45,Wyoming,Weston County,12,6927,3624,3303,350,...,122,198,82,116,200,72,128,44.2,43.5,45.0

In [4]:
#Get entries from latest year only
age_df = age_df[age_df['YEAR'] == 12]
age_df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
11,50,1,1,Alabama,Autauga County,12,55869,27092,28777,3277,...,1053,1179,498,681,936,359,577,39.3,37.9,40.7
23,50,1,3,Alabama,Baldwin County,12,223234,108247,114987,12039,...,4824,5297,2470,2827,4446,1837,2609,43.6,42.3,44.9
35,50,1,5,Alabama,Barbour County,12,24686,13064,11622,1309,...,529,587,234,353,469,152,317,40.9,38.7,44.8
47,50,1,7,Alabama,Bibb County,12,22394,11929,10465,1246,...,400,446,172,274,389,123,266,40.0,38.2,42.6
59,50,1,9,Alabama,Blount County,12,57826,28472,29354,3438,...,1148,1316,602,714,1100,396,704,41.0,40.1,42.0

In [5]:
#Drop year column
age_df = age_df.drop('YEAR', axis=1)
age_df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,UNDER5_MALE,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
11,50,1,1,Alabama,Autauga County,55869,27092,28777,3277,1713,...,1053,1179,498,681,936,359,577,39.3,37.9,40.7
23,50,1,3,Alabama,Baldwin County,223234,108247,114987,12039,6249,...,4824,5297,2470,2827,4446,1837,2609,43.6,42.3,44.9
35,50,1,5,Alabama,Barbour County,24686,13064,11622,1309,684,...,529,587,234,353,469,152,317,40.9,38.7,44.8
47,50,1,7,Alabama,Bibb County,22394,11929,10465,1246,622,...,400,446,172,274,389,123,266,40.0,38.2,42.6
59,50,1,9,Alabama,Blount County,57826,28472,29354,3438,1702,...,1148,1316,602,714,1100,396,704,41.0,40.1,42.0

In [6]:
#Check unique state names to be sure all are here
# n = len(pd.unique(age_df["STNAME"]))
# n
pd.unique(age_df["STNAME"])

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [7]:
# add leading zeros to "County" column to create FIPS name
age_df["COUNTY"] = age_df['COUNTY'].apply(lambda x: '{0:0>3}'.format(x))
age_df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,UNDER5_MALE,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
11,50,1,001,Alabama,Autauga County,55869,27092,28777,3277,1713,...,1053,1179,498,681,936,359,577,39.3,37.9,40.7
23,50,1,003,Alabama,Baldwin County,223234,108247,114987,12039,6249,...,4824,5297,2470,2827,4446,1837,2609,43.6,42.3,44.9
35,50,1,005,Alabama,Barbour County,24686,13064,11622,1309,684,...,529,587,234,353,469,152,317,40.9,38.7,44.8
47,50,1,007,Alabama,Bibb County,22394,11929,10465,1246,622,...,400,446,172,274,389,123,266,40.0,38.2,42.6
59,50,1,009,Alabama,Blount County,57826,28472,29354,3438,1702,...,1148,1316,602,714,1100,396,704,41.0,40.1,42.0

In [8]:
#Join state and county to create fips code
age_df["FIPS"] = age_df["STATE"].astype(str) + age_df["COUNTY"].astype(str)
age_df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,UNDER5_MALE,...,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM,FIPS
11,50,1,001,Alabama,Autauga County,55869,27092,28777,3277,1713,...,1179,498,681,936,359,577,39.3,37.9,40.7,1001
23,50,1,003,Alabama,Baldwin County,223234,108247,114987,12039,6249,...,5297,2470,2827,4446,1837,2609,43.6,42.3,44.9,1003
35,50,1,005,Alabama,Barbour County,24686,13064,11622,1309,684,...,587,234,353,469,152,317,40.9,38.7,44.8,1005
47,50,1,007,Alabama,Bibb County,22394,11929,10465,1246,622,...,446,172,274,389,123,266,40.0,38.2,42.6,1007
59,50,1,009,Alabama,Blount County,57826,28472,29354,3438,1702,...,1316,602,714,1100,396,704,41.0,40.1,42.0,1009

In [9]:
age_by_county = age_df.filter(["FIPS", "STNAME", "CTYNAME", "MEDIAN_AGE_TOT"])
age_by_county

        FIPS   STNAME            CTYNAME  MEDIAN_AGE_TOT
11      1001  Alabama     Autauga County            39.3
23      1003  Alabama     Baldwin County            43.6
35      1005  Alabama     Barbour County            40.9
47      1007  Alabama        Bibb County            40.0
59      1009  Alabama      Blount County            41.0
...      ...      ...                ...             ...
37655  56037  Wyoming  Sweetwater County            36.4
37667  56039  Wyoming       Teton County            39.8
37679  56041  Wyoming       Uinta County            37.1
37691  56043  Wyoming    Washakie County            43.6
37703  56045  Wyoming      Weston County            44.2

[3142 rows x 4 columns]

In [10]:
age_by_county.to_csv('Median_Age_County.csv', index= False)